/* Bootstrap overrides */
.card {
  border-color: transparent;
  border: 0px;
  background-color: #2f3b52;
  color: white;
}

.card-head {
  padding:1rem 0 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #2f3b52;
}

.card-body {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

/* App styles */
.app {
  height: 100vh;
}

.app-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-activity {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.app-map {
  height: 60%;
}

.app-available {
  overflow: auto;
  padding: 0 10px 0 10px;
}

.app-header {
  height: 10vh;
  /* margin: 0 1rem; */
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 80%;
  align-items: center;
  justify-content: space-between;
}

.app-main {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-main>*:nth-child(2) {
  flex: 1 1 60%;
}

.app-header h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1;
}
.app-timer {
  font-size: 2rem;
  background-color: black;
  color: #fff;
  line-height: 0.75;
  border-radius: 3rem;
}

.app-header>div {
  padding: 1rem;
}
.app-head {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 0%;
}

.app-header .progress {
  width: 20vw;
  height: 6px;
  margin: 0.45rem 0 0.45rem 0;
}

.app-value {
  font-size: large;
  font-weight: bold;
}

.app-link {
  color: #61dafb;
}
.app-header>.app-gdp {
  padding-left: 3.5rem;
  background: url('../img/coins.svg') 1em center no-repeat;
  background-size: auto 40%;
}
.app-header>.app-units {
  padding-left: 3.5rem;
  background: url('../img/phone.svg') 1em center no-repeat;
  background-size: auto 40%;
}
.app-header>.app-freedom {
  padding-left: 3.5rem;
  background: url('../img/hand.svg') 1em center no-repeat;
  background-size: auto 50%;
}
.app-freedom-indicator {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.app-freedom-indicator.free {
  background: url('../img/coins.svg') top center no-repeat;
  background-size: auto 50%;
}

.app-news-item .progress {
  height: 3px;
}

main,
.pane {
  height: 100%;
}

.pane {
  width: 20vw;
  padding: 0 0 0 0;
}

.list {
  height: 100%;
  width: 40vw;
}

.panel h2 {
  font-size: 1.2rem;
}
.panel h3 {
  font-size: 1rem;
}
.panel {
  height: 100%;
}

/*bid List*/

.bid-head-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bid-head {
  text-align: center;
}

.bid-title {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}

.bid-body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: flex-end;
  padding-right: 1rem;
  padding-top: 1rem;
}

.app-bid {
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 2rem;
  text-align: left;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid #ccc;
  width: 18vw;
  max-height: 9vh;
}

/* bid states */

.empty {
  border: 1px dashed #ccc;
  background-color: transparent;
  color: white;
}
.pending {
  background-color: transparent;
  color: white;
}
.lost {
  background-color: #344c68;
  border-color: #344c68;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  color: white;
}
.won {
  background-color: #325f50;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  color: white;
  border-color: #325f50;
}
.counter {
  background-color: #fc5e66;
  border-color: #fc5e66;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  color: black;
  justify-content: left;
  text-align: left;
}
.app-bid.counter {
  width: 19vw;
}
.drafted {
  background-color: grey;
  border-color: grey;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  color: black;
}
.open {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  color: black;
}

.app-bid-status {
  font-size: medium;
  font-weight: bold;
}

.editing {
  margin: 0;
  padding-right: 0.5rem;
  height: 100%;
  border-color: transparent;
}

.app-progress .progress {
  position: relative;
  overflow: visible;
  background-color: #64718c;
  border-radius: 4px;
}
.progress-bar {
  border-radius: 4px;
}

.progress .one,
.progress .two {
  position: absolute;
  margin-top: -5px;
  margin-left: -8px;
  z-index: 1;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #2f3b52;
  border: 1px solid #59637f;
}
.progress .one {
  left: 33.3%;
}
.progress .two {
  left: 66.6%;
}

.list-group-numbered li {
  padding: 1rem 0;
}