/* draft bids */
.draft {
  text-align: center;
  font-size: medium;
  border: transparent;
}

.draft-head {
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #222a3d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.draft-nav {
  padding: 0.25rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  width: 70%;
  margin: auto;
}

.draft-head button,
.draft-nav button {
  background-color: transparent;
  border: transparent;
  color: #2066ff;
  font-size: medium;
  font-weight: bolder;
}

.draft-body {
  background-color: #344c68;
  border: transparent;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.draft-title {
  text-align: left;
  font-size: large;
  font-weight: bold;
}

.draft-info {
  padding-top: 1rem;
  border: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
  justify-content: space-evenly;
}

.draft-info .info-1 {
  width: 30%;
  text-align: center;
}

.info-2 {
  width: 50%;
}

.draft-info .info-2 {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
  height: auto;
  justify-content: space-between;
}

.info-1 span {
  padding-top: 0.5rem;
  font-size: small;
}

.info-2 span {
  font-size: small;
  font-weight: light;
}

.info-2 .status {
  font-size: medium;
  color: #39b58c;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
}

.sub-header {
  font-size: small;
  font-weight: light;
  font-weight: bold;
  padding: 7px 0;
}

.draft-info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.draft-body-2 {
  border: transparent;
  padding: 1rem 2rem;
  text-align: left;
}

.draft-form {
  border: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}