input {
  background-color: #344c68;
  border-radius: 4px;
  border: none;
  color: white;
  width: 70%;
}

.units {
  opacity: 0.5;
}

.vline {
  border-left: 2px solid #59637f;
  margin-left: 6%;
  padding-left: 5%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.minus-button, .plus-button {
  border: none;
  color: white;
  background-color: #2066ff;
  width: 2rem;
  text-align: center;
}

.minus-button {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.plus-button {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.minus-button:hover, .plus-button:hover {
  background-color: #1955bf;
}

.submit-button {
  border: none;
  color: white;
  background-color: #2066ff;
  text-align: center;
  font-size: small;
  font-weight: bold;
  margin: 10px;
  padding: 5px 1rem;
  border-radius: 4px;
}