html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242e42;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.tableFixHead {
  overflow: auto;
  height: 100%
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

table {
  width: 100%;
  border-collapse: separate;
  margin-top: -15px;
  border-spacing: 0 15px;
}

td, th {
  padding: 10px;
  text-align: center;
  color: #fff;
}

th {
  background-color: #242e42;
  font-size: 12px;
}

td {
  font-size: 13px;
  background-color: #303e56;
}
td:first-child {
  border-radius: 10px 0 0 10px;
  text-align: left;
  padding-left: 20px;
}

td:last-child {
  border-radius: 0 10px 10px 0;
}

td img {
  height: 3vh;
}

.emoji {
  font-size: 25px;
}